<!DOCTYPE html>
<html>
    <head>
        <title>Code Scan - Login</title>
        <link rel='stylesheet' href='/stylesheets/w3.css'/>
        <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'/>
    </head>
    <body>
        <div class="w3-display-middle">
            <a href="https://github.com/login/oauth/authorize?client_id=<%= clientID %>" class="w3-button w3-green w3-xxxlarge"><i class="fab fa-github-square"></i> Login Github</a>
        </div>
    </body>
</html>