<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Code Scan - Home</title>
    <link rel='stylesheet' href='/stylesheets/w3.css'/>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'/>
    <script src="/js/json-formatter.umd.js"></script>
</head>

<body onload="showJson()">
    <div class="w3-display-middle">
        <h2>Welcome: <%= name %> (<%= login %>)</h2>

        <h3>Github search sample result</h3>
        
        <div id="jsonviewer" style="max-height: 600px; max-width: 800px; overflow: auto;"></div>
    </div>


    <script>
        function showJson() {
            var json = JSON.parse('<%- result %>');
            const formatter = new JSONFormatter(json);
            document.getElementById("jsonviewer").append(formatter.render());
        }
    </script>
</body>
</html>
